.header {
  background-color: $white;

  &__wrapper {
    @include wrapper;
    & {
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__map {
    display: flex;
    align-items: center;
    gap: 80px;
  }

  &__link-logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: $space-l;
  }

  &__link {
    text-decoration: none;
    transition: opacity 0.15s ease-in-out;
    &:hover {
      opacity: 0.6;
    }
  }

  &__navigate {
    display: flex;
  }

  &__nav-list {
    display: flex;
    align-items: center;
    gap: $space-m;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 17px;
  }
}
