.section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 740px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
